image:
  repository: ghcr.io/barbarosydev/argocd-lab-backend
  tag: v0.1.0
  pullPolicy: IfNotPresent

replicaCount: 1
service:
  type: ClusterIP
  port: 8000
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

# Local-only: disable ingress by default
ingress:
  enabled: false

