# Copy to .env and adjust as needed
LAB_MINIKUBE_PROFILE=argocd-lab
LAB_K8S_VERSION=v1.35.0
LAB_MINIKUBE_DRIVER=docker
LAB_ARGOCD_NAMESPACE=argocd
LAB_ARGOCD_PORT=8081
LAB_ARGO_VALUES=k8s/argocd/values.yaml
LAB_ARGOCD_HELM_VERSION=9.3.4
LAB_VERBOSE=0
LAB_APP_NAMESPACE=default
LAB_DEPLOY_METHOD=gitops
GITHUB_PAT=
