# Copy to .env and adjust as needed

# Minikube settings
LAB_MINIKUBE_PROFILE=argocd-lab
LAB_K8S_VERSION=v1.35.0
LAB_MINIKUBE_DRIVER=docker
LAB_MINIKUBE_CPUS=8
LAB_MINIKUBE_MEMORY=16384
LAB_MINIKUBE_DISK_SIZE=40g

# ArgoCD settings
LAB_ARGOCD_NAMESPACE=argocd
LAB_ARGOCD_PORT=8081
LAB_ARGO_VALUES=k8s/argocd/values.yaml
LAB_ARGOCD_HELM_VERSION=9.3.4

# Airflow settings
LAB_AIRFLOW_PORT=8080
LAB_AIRFLOW_HELM_VERSION=1.18.0
LAB_AIRFLOW_VERSION=3.0.2

# PostgreSQL settings
LAB_POSTGRES_HELM_VERSION=17.4.3
LAB_POSTGRES_VERSION=17

# Application settings
LAB_APP_NAMESPACE=default
LAB_APP_NAME=demo-api
LAB_DEPLOY_METHOD=gitops

# Output settings
LAB_VERBOSE=0
LAB_NO_COLOR=0

# GitHub (for private repos)
GITHUB_PAT=
