site_name: Argo CD Lab
site_description: Local lab using Minikube, Helm, Argo CD, and Airflow
repo_url: https://github.com/barbarosydev/argocd-lab
nav:
  - Home: index.md
  - Setup: setup.md
theme:
  name: material
  features:
    - navigation.tabs
    - content.code.copy
markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - toc:
      permalink: true
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/barbarosydev/argocd-lab
