version: '3'

tasks:
  deploy:
    desc: Deploy/upgrade Argo CD
    silent: true
    deps:
      - task: :_check-cluster
    cmds:
      - ./scripts/argocd-deploy.sh --argocd-namespace {{.ARGOCD_NAMESPACE}} --argo-values {{.ARGO_VALUES}} --port {{.ARGOCD_PORT}}

  password:
    desc: Get Argo CD admin password
    silent: true
    deps:
      - task: :_check-cluster
    cmds:
      - kubectl -n {{.ARGOCD_NAMESPACE}} get secret argocd-initial-admin-secret -o jsonpath='{.data.password}' | base64 -d && echo

  ui:
    desc: Open Argo CD UI in browser
    silent: true
    deps:
      - task: :_check-cluster
    cmds:
      - open http://localhost:{{.ARGOCD_PORT}}

  deploy-app:
    desc: Deploy application (default demo-api)
    silent: true
    deps:
      - task: :_check-cluster
    cmds:
      - ./scripts/deploy-app.sh --app-name {{.APP_NAME | default "demo-api"}} --profile {{.PROFILE}} {{.CLI_ARGS}}

  undeploy-app:
    desc: Undeploy application (default demo-api)
    silent: true
    deps:
      - task: :_check-cluster
    cmds:
      - ./scripts/undeploy-app.sh --app-name {{.APP_NAME | default "demo-api"}} {{.CLI_ARGS}}
