version: '3'

tasks:
  install:
    desc: "⚙️ Install dependencies (macOS)"
    silent: true
    cmds:
      - ./scripts/utils.sh install

  update:
    desc: "⚙️ Update dependencies"
    silent: true
    cmds:
      - ./scripts/utils.sh update

  info:
    desc: "⚙️ Show environment info"
    silent: true
    cmds:
      - ./scripts/utils.sh info

  clean:
    desc: "⚙️ Clean local artifacts"
    silent: true
    cmds:
      - ./scripts/utils.sh clean
